
.backgroundContent {
    background-image: url(https://s1.funon.cc/img/orig/201701/16/587d0b4fd9d0d.jpg);
    width: 100%;
    height: 1050px;
}

#root {
	min-width: 760px;
}

.messages {
	color: #28a745;
}

#headerFix {
	position: fixed;
	width: 100%;
	z-index: 999;
	opacity: .9;
	margin-top: -110px;
}

.content {
	margin-top: 110px; 
}

.navbarSupportedContent li {
	margin-left: 7px;
}

.logoMain {
	width: 90px;
	height: 90px;
}

.formAuthorization {
	margin-top: 110px;
}